<style>
@font-face {
  font-family: 'SALOMONSans';
  src: url('https://github.com/GTNSKOREA/salomon-font/raw/main/SALOMONSans-200Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'SALOMONSans', sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SALOMONSans', sans-serif;
  font-weight: bold;
}
</style>
